# Mac OS X
#############
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# MATLAB
#############
*.asv

# Temporary (Office) files
#############
~$*

###############
# getModelFromKEGG downloads and assembles these at reconstruction/kegg/ on
# first use (see buildGlobalKEGGModel); none of them belong in the repo. The
# glob (rather than a version-pinned name) keeps this working across a
# KEGG_VERSION.md bump without needing its own update.
src/reconstruction/kegg/keggModel.mat
src/reconstruction/kegg/kegg*_core.tar.gz
src/reconstruction/kegg/kegg*_core/
#software
src/external/scip/
src/external/blast+/
src/external/diamond/
src/external/hmmer/
src/external/WoLFPSORT/
!.keep
#doc

# IDE stuff #
################
.idea/
*.iml
