# Ensure that EOL characters are properly converted for all files
*	text=auto
# Use MATLAB style diff
*.m	text diff=matlab
# Files/folders that should not be included when downloading repo as ZIP
.gitattributes	export-ignore
.gitignore	export-ignore
.github	export-ignore
